/* body{
    max-width: 1100px;
    margin: 20px auto;
    text-align: center;
} */

.spin_wheel{
    margin:100px 0;
}


/* .canvas-box{
    width: 50%;
    height: 50%;
} */


#canvasContainer {
    position: relative;
    width: 300px;
}

#canvas {
    z-index: 1;
}

#prizePointer {
    position: absolute;
    left: 422px;
    top: 10px;
    margin:60px 0;

    z-index: 999;
}