:root{
    --main-grey: rgb(206, 205, 205);
}

.main_form {
    width: 60%;
    padding: 1rem 2rem;
    margin: 1rem auto;
}

.main_form input{
    border: 1px solid var(--main-grey) !important;
    border-radius: 8px !important;
    padding: 0px 12px !important;
}