/* body{
    max-width: 1100px;
    margin: 20px auto;
    text-align: center;
} */

:root{
    --main-grey: rgb(189, 188, 188);
}

html{
    box-sizing: border-box;
}

*, ::before, ::after{
    box-sizing: inherit;
}

body{
    margin:0;
    padding:0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;

}

.containers{
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.containers, main{
    max-width: 1100px;
    margin: 0px auto !important;
}



/* form */

.containers main form{
    width: 60%;
    margin:0 auto;
}


.input-field input{
   border: 1px solid var(--main-grey) !important;
   border-radius: 8px !important;
   margin-block: 10px !important;
   padding:0px 12px !important;
}


.spin_section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spin_wheel{
    /* padding: ; */
    width: 700px;
    height: 700px;
}





/* #canvasContainer {
    position: relative;
    width: 300px;
} */

#canvas {
    position: relative;
    z-index: 1;
    margin:0 auto !important;
}

#prizePointer {
    position: absolute;
    left: 46.6%;
    transform: translateX(-50%);
    top: 280px;
    /* margin: 0; */
    width: 72px;
    height: 72px;
    z-index: 999;
}

.icons{
    font-size: 64px;
    color: #fff;
}

/* .error{
    text-align: center;
    width: 40%;
    margin: 20px auto;
} */

.spin_button{
    left:46.7%;
    transform: translateX(-50%);
    top: 464px;
    position: absolute;
    z-index: 999;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    border-style: none;
    color: #fff;
    background-color: red;
    font-size: 32px;
    font-weight: bold;
}

button.spin_button {
    background-color: red;
}