/* body{
    max-width: 1100px;
    margin: 20px auto;
    text-align: center;
} */

:root{
    --main-grey: rgb(189, 188, 188);
}

html{
    box-sizing: border-box;
}

*, ::before, ::after{
    box-sizing: inherit;
}

body{
    margin:0;
    padding:0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;

}

.containers{
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.containers, main{
    max-width: 1100px;
    margin: 0px auto !important;
}

/* form */

.containers main form{
    width: 60%;
    margin:0 auto;
}


.input-field input{
   border: 1px solid #1ea62c !important;
   border-radius: 8px !important;
   margin-block: 10px !important;
   padding:0px 12px !important;
}


.spin_section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spin_wheel{
    /* padding: ; */
    width: 700px;
    height: 700px;
}





/* #canvasContainer {
    position: relative;
    width: 300px;
} */

#canvas {
    position: relative;
    z-index: 1;
    margin:0 auto !important;
}

#prizePointer {
    position: absolute;
    left: 46.6%;
    transform: translateX(-50%);
    top: 280px;
    /* margin: 0; */
    width: 72px;
    height: 72px;
    z-index: 999;
}

.icons{
    font-size: 64px;
    color: #fff;
}

/* .error{
    text-align: center;
    width: 40%;
    margin: 20px auto;
} */

.spin_button{
    left:46.7%;
    transform: translateX(-50%);
    top: 464px;
    position: absolute;
    z-index: 999;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    border-style: none;
    color: #fff;
    background-color:#1ea62c;
    font-size: 32px;
    font-weight: bold;
}

button.spin_button {
    background-color: #1ea62c;
}


/* big interactive screen */
@media ((min-width: 2160px) and (min-height: 3840px)){
    .form_section{
        height: 230px;
    }
  .containers{
    width: 2000px !important;
    margin-top: 16rem !important;
  }

  .containers, main{
    max-width: 2000px !important;
  }

  .containers main{
    height: 100%;
  }


  /* spin the wheel media query */
  .spin_wheel{
    margin-top: 24rem !important;
    width: 2000px;
    height: 2000px;
  }

  canvas {
    width: 2000px !important;
    height: 2000px !important;
  }

  .spin_button{
    left: 50%;
    top: 1600px;
    width: 460px;
    height: 460px;
  }

  #prizePointer{
  left: 50%;
  top: 880px;
  width: 230px;
  height: 230px;
  }

  /* form stlying media query */
  .input-field  label{
    font-size: 80px;

  }

  .input-field input{
    margin-block: 25px !important;
    padding: 60px 18px !important;
    border: 10px solid #1ea62c !important;
    text-align: center;
    font-size: 80px !important;
    text-transform: uppercase;
    font-weight: 500;

  }

  .containers main form{
    height: 100%;
    width: 80%;
  }
}

/* small interactive screen */
@media ((max-width: 1080px) and (max-height: 1920px)) {
.form_section{
        height: 230px;
    }
  .containers{
    margin-top: 10rem !important;
  }

  .containers main{
    height: 100%;
  }


  /* spin the wheel media query */
  .spin_wheel{
    margin-top: 5rem !important;
    width: 1000px;
    height: 1000px;
  }

  canvas {
    width: 1000px !important;
    height: 1000px !important
  }

  .spin_button{
    left: 50%;
    top: 832px;
    width: 230px;
    height: 230px;
  }

  #prizePointer{
  left: 50%;
  top: 490px;
  width: 100px;
  height: 100px;
  }

  /* form stlying media query */
  .input-field  label{
    font-size: 30px;

  }

  .input-field input{
    margin-block: 18px !important;
    padding: 25px 18px !important;
    border: 5px solid #1ea62c !important;
    text-align: center;
    font-size: 52px !important;

  }

  .containers main form{
    height: 100%;
    width: 70%;
  }


}